#shoppingCart{
    margin-top: 20px;
}

#cartImage{
    width: 100px;
    height: 80px;
    margin-top: 15px;
}


#productText{
    font-size: small;
    margin-bottom: 0;
}

#CartHeader{
    padding: 10px;
    background-color: #ffffff;
}

#cartContent{
    margin-left: 20px;
    background-color: #ffffff;
    padding: 20px;
    height: fit-content;
    position: sticky;
    top: 0;
}

.cartButton{
    align-content: center;
    background-color: #00bcd4 ;
    color: #ffffff;
    display: inline-block;
}

#productDescription{
    width: 400px;
    height: 150px;
    margin: 10px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.cartTextAlign{
    margin-left:auto; margin-right:0;
}

#cartSummary{
    background-color: #ffffff;
    padding: 0px 20px 0px 20px;
}

#quantityButton{
    background-color: #ffffff !important ;
    color: #000000;
    border-color: #000000;
}

#orderSummary{
    margin-left: 20px;
    background-color: #ffffff;
    margin-top: 50px;
    padding: 20px;
    height: fit-content;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.total{
    border-top: 1px solid rgb(221, 221, 221);
    font-weight: bold;
}

.summaryTextAlign{
    margin-left:auto; margin-right:0;
    margin-top: 10px;
}